<div class="card mx-auto w-25 custom-card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <p class="card-text">Please enter credentials to proceed.</p>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="text" />
        </mat-form-field>
        <a href="#" class="d-flex justify-content-center btn btn-success">Login</a>
    </div>
</div>